.backgroundImage{
    height: 140vh;
}
.signup-form{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.signup-form > h4{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.sign h4{
    margin-top: 70px;
}


.signup{
    box-sizing: border-box;
    background: #ffffff;
    color: green;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 70%;
    padding: 15px;
    box-shadow: 2px 2px 10px 10px  #1c4225;
}
.not-signup{
    box-shadow: 2px 2px 10px 10px #b6b2b2;
}
.sign .signup{
    margin-top: 40px;
    border-radius: 15px;
    width: 50%;

}
label{
    display: block;
    font-size: 1rem;
    padding: 5px;
    padding-left: 22px;
    text-align: left;
    font-weight: 400;
}

#upload_widget_opener{
    text-align: left;
    display: none;
}
#logo_image{
    height: 70px;
    width: 100px;
    border-radius: 120px;
    background-position: center;

}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
textarea{
    width: 90%;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: none;
    border-bottom: 1px solid green;
    color: #054e0a;
    font-weight: 700;
    padding-left: 10px;
}


input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    input[type=search]:focus,
    input[type=date]:focus,
    textarea:focus
    {
        border-bottom: 1px solid #04310f;
    }
    input[type=text]:hover,
    input[type=password]:hover,
    input[type=email]:hover,
    input[type=number]:hover,
    input[type=search]:hover,
    input[type=date]:hover,
    textarea:hover  {
        border-bottom: 1px solid #04310f;
    }

    input[type=date]{
        font-weight: 600;
    } 

#submit{
    color: white;
    background: green;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    transition: .5s;
    font-weight: 700;
}

.fa {
    margin-left: -12px;
    margin-right: 8px;
  }
.loader{
    display: none;
}

 input[type=file]{
    padding: 5px;
    color: #04310f;
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    text-align: left;
    margin-left: 1px;

}

#submit:hover{
    box-shadow: 5px 5px 5px #04310f;
    color: white;
    background: #0fb836;
}

textarea{
    border: 1px solid green;
    border-radius: 10px;
    padding: 10px;
}

form{
    text-align: center;
}

.have-account{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    color: white;
    cursor: pointer;
}



 .sign .backgroundImage{
    height: 90vh;
}

a.reset{
    color: green;
    font-size: 1rem;
    cursor: pointer;
}

a.reset:hover{
    color: #04310f;
    font-weight: 700;
}

 .instruct {
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}

#change{
    display: none;
}

.error{
    font-weight: 6bb00;
    color: rgb(161, 13, 13);
}


.parties{
    margin-top: 40px;
    display: block;
    padding: 20px;
}


.parties > h4, .list > h4{
    color: green;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    margin-top: 20px;
}
.parties .signup{
    width: 90%;
    box-shadow: 2px 2px 10px 10px #b6b2b2;
    border-radius: 15px;
    height: 300px;
}

.list{
    margin: 30px auto;
    width: 80%;
    padding: 20px;
    overflow-x: auto;
}

.oficeList{
    width: 20%;
    border-radius: 10px;
    border: green solid 1px;
    color: #04310f;
    display: block;
    margin: 10px;
    padding: 5px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

table{
    padding: 20px;
    margin: 0 auto;
    background: #ffffff;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    color: #0c5511;
    box-shadow: 2px 2px 10px 10px #b6b2b2;
}

table tr th, table tr td{
    padding: 15px;
    border-bottom: #b8bac4 solid 1pt;
    text-align: center;
    line-height: 1.3;
    font-size: 1.2rem;
}

table tr th{
    border-bottom: #b8bac4 solid 2pt;

}

table tr th{
    font-weight: 600;
    text-align: center;
}


.edit{
    border: #04310f solid 1px;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    margin-left: 2px;
    color: green;
    background: #ddd;
}

.edit:hover, .oficeList:hover{
    color: #ddd;
    background: green;
}

.delete{
    background: rgb(141, 4, 4);
    color: #ddd;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

.delete:hover{
    color:  rgb(141, 4, 4);
    background: #ddd;
}

.select-text{
    padding: 8px;
    width: 90%;
    font-size: 1rem;
    font-weight: 700;
    background: transparent;
    margin-top: 10px;
    color: #054e0a;
    border: #0c5511 solid 1px;
    border-radius: 5px;
}

.disabled{
    display: block;
}


@media screen and (max-width: 600px){
    body{
        width: 100%;
    }
    .backgroundImage{
        height: 105vh;
    }
    .signup-form{
        text-align: center;
        width: 85%;
    }
    .signup{
        width: 90%;
    }
    .sign .signup{
        width: 90%;
    }
    label{
        padding-left: 5px;

    }
    .parties{
        clear: both;
        width: 85%;
        margin: 20px auto;
    }
    .parties:last-child{
        margin-left: 0px;
    }
    .have-account{
        font-size: 1.3rem;
    }
    .select-text option{
        width: 50% !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px){

    .signup-form{
        width: 70%;
    }
    .signup{
        width: 90%;
    }
    .sign .signup{
        width: 90%;
    }

    .parties{
        width: 85%;
    }
    .parties:last-child{
        margin-left: 0px;
    }
    label{
        font-size: 1.5rem;
        padding: 10px;
    }
    input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date]{
   font-size: 1.5rem;
   padding: 10px;
}

    
}
