*{
    margin: 0;
    padding: 0;
}

.navbar{
    padding: 20px;
    overflow: hidden;
    text-align: right;
}

.navbar a{
    display: block;
    float: left;
    padding: 10px 12px;
    color: green;
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0 1.2rem;
}

.navbar a:last-child{
    margin-right: 150px;
}

.navbar a:hover{
    background: white;
}

.navbar a:first-child{
    margin-right: 60%;
    margin-left: 6.0rem;
}

.navbar a:last-child{
    display: none;
}
.backgroundImage{
    background-image: url('../img/election.jpg');
    background-size: cover;
    height: 100vh;
    margin: auto;
    color: white;
}

.overlay{
    background: rgba(84, 235, 79, 0.87);
    height: inherit;
    margin: auto;
}

.aboutPage{
    margin: auto;
    padding-top: 30vh;
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}

.diplayQuote{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-top: 20px;
}

.author{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-left: 250px;

}

.btn{
    margin: 0 auto;
}
a.register{
    padding: 15px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: #08b993;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

a.register:hover{
    box-shadow: 15px 10px 5px #08b993;
}

footer{
    margin: 0 auto;
}

footer > p {
    font-weight: 900;
    text-align: center;
    margin: 10px 0;
    color: green;
}


@media screen and (max-width: 600px){
    .navbar a:not(:first-child){
        display: none;
    }
    .navbar a:first-child{
        margin-right: 0%;
        margin-left: 1.0rem;
        font-size: 1.3rem
    }
    .navbar a:last-child {
        display: block;
        float: right;
        font-size: 1.3rem;
        margin-right: 30px;
    }
            .backgroundImage{
                clear: both;
            }
}

@media screen and (max-width: 600px){

    body{
        width: 100%
    }
    .navbar .responsive{
        position: absolute;
        /* z-index: 1; */
    }

    .navbar.responsive a#menu{
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a{
        float: none;
        display: block;
        text-align: left;
        color: green;
        border-bottom: #f3e4e4 1px solid;
        }

    }