*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #04310f;
}

.navbar {
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgb(120, 136, 136);
  
  }
  
  .navbar a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 10px 1.2rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
  }
  
  
  .navbar #menu {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: green;
    padding: 10px 20px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: green;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 5px;
    padding: 0 5px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
      border-left: 1.5px solid green;
      border-right: 1.5px solid green;
      padding-bottom: 8px;
      transition: .5s;
      background-color: #ddd;
      color: #134213;
      font-weight: 700;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .menu_bar .navbar a#home{
    margin-right: 35%;
    margin-left: 6rem;
    font-weight: 700;

}
  
.navbar a#home{
    margin-right: 50%;
    margin-left: 6.0rem;
    font-weight: 700;
}

.backgroundImage{
    background-image: linear-gradient(
        to right bottom,
        rgba(46, 167, 42, 0.87),
        rgba(24, 224, 17, 0.87)
      ),
      url(../img/election.jpg);
    background-size: cover;
    height: 90vh;
    color: #fff;
    padding: 40px;
}

 footer{
     margin: auto;
     clear: both;
     padding: 5px;
     height: 22vh;
     color: #134213;

    }

    .others{
        background: #ddd;
    }

    .others .politics{
        margin-top: 400px;
    }

.footer-img{
    margin-top: 20px;
    width: 30%;
    float: left;
    margin-left: 6.0rem;
}

.footer-img .fas {
    font-size: 4.5rem;
    padding-left: 60px;
}

.footer-img .politico-trademark{
    padding-left: 7px;
    font-weight: 600;
}
.footer-columns{
    margin-top: 30px;
    width: 60%;
    float: right;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.column{
    display: block;
    font-weight: 600;
}

.column > p{
    padding: 5px;
}



/* Begining of Index page */
.aboutPage{
    margin: auto;
    padding-top: 20vh;
    text-align: center;
    width: 50%;
    font-size: 25px;

}

.quo-bg{
    background: rgb(192, 187, 187);
    color: green;
    width: 60%;
    margin: auto;
    padding: 15px 18px 15px 15px;
    border-left: solid #0fb836 10px;
    margin-top: 30px;
    position: relative;
    height: 100px;

}

.round{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #28db10b9;
}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5rem 2.5rem 0;
    border-color: transparent #f1F2f2;
}

.diplayQuote{
    margin: auto;
    text-align: center;
    font-size: 3.5vh;
    resize: both;
    font-style: italic;
    line-height: 1.3;
}


.author{
    margin: auto;
    text-align: center;
    font-size: 2.5vh;
    resize: both;
    font-style: italic;
    margin-left: 250px;
    
}

.btn{
    margin: 0 auto 40px;
}
a.register{
    padding: 15px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: green;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.5rem;
    transition: .5s;
}

a.register:hover, .edit-profile:hover{
    box-shadow: 5px 5px 5px #04310f;
    color: white;
    background: #0fb836;
}
/* End of index page */



/* Politics page */
.intro{
    padding: 20px 0;
    margin: 40px auto 10px;
    width: 75%;
}
.intro > p {
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}

.register_parties{
   min-height: 85vh;
}

.bg-colors{
   background-color: hsl(120, 15%, 92%);
}

/* Vote Page */
.sidebar{
    width: 25%;
    float: left;
    margin-right: 10px;
    background: #04310f;
    border-right: #0fb836 1px solid;
    height: 90vh;
    margin-top: 2px;
    padding-top: 10px;
}

.sidebar a{
    color: white;
    display: block;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}


.sidebar a:hover, .sidebar a:focus {
    background: white;
    color: green;
}

.mainbar{
    width: 70%;
    float: right;
    margin: 10px;
    margin-bottom: 50px;
}

.mainbar .signup-form{
    width: 95%;
    margin-top: 30px;
}

.mainbar .signup{
    width: 85%;
}

.cand, .part{
    display: none;
}

.heading{
    text-align: center;
    color: green;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile{
    width: 25%;
    background: white;
    padding: 20px;
    float: left;
    margin: 10px;
    box-shadow: 10px 10px 10px #b6b2b2;
}

.profile >.image{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img{
    height: 250px;
    width: 250px;
    border-radius: 240px;
    background: #b87272;
    color: #fffffa;
    text-align: center;
    margin: 30px 0;
}

.profile > p{
    text-align: center;
    font-size: 1.2rem;
    color: green;
}
.profile .topic{
    display: none;
}

.edit-profile{
    margin-top: 30px;
    text-align: center;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}

.voted{
    width: 70%;
    float: right;
}
#petitionForm{
    display: none;
}
@media screen and (max-width: 1200px){
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .navbar a#home{
        display: block;
        margin-right: 0%;
        margin-left: 1.0rem;
        font-size: 1.3rem;
        font-weight: 600;

    }
    .menu_bar .navbar a#home{
        display: block;
        margin-right: 0%;
        margin-left: 1.0rem;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .navbar a#menu {
        display: block;
        float: right;
        font-size: 1.5rem;
        margin-right: 0px;
        font-weight: 700;

    }
            .backgroundImage{
                clear: both;
            }
}

@media screen and (max-width: 1200px){

    body{
        width: 100%
    }
      .navbar.responsive {
          position: absolute;
          background: white;
          width: 100%;
        }
     .navbar.responsive #menu {
        position: absolute;
        right: 0;
        top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 1.3rem;
    padding: 10px;
  }
  .navbar.responsive .dropdown {
      float: none;
      margin-left: 20px;
        }

  .navbar.responsive .dropdown-content {
      position: relative;
      margin-left: 15px;
    }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    padding: 10px;
  }
        .backgroundImage{
            min-height: 100vh;
        }
        .backgroundImage .signpage{
            min-height: 130vh;
        }

        .aboutPage{
            padding-top: 10vh;
            font-size: 21px;
            margin-top: 0;
        }
        .quo-bg{
            height: 150px;
        }
        .diplayQuote{
            padding: 0 15px;
            font-size: 2.2vh;
            resize: both;
        }
        .aboutPage > p:last-child{
            display: none;
        }
        .author{
            font-size: 1.7vh;
            padding: 0 15px;
            margin-left: 40px;
            resize: both;

        }
        a.register{
            width: 60%;
        }
        .profile{
            width: 87%;
        }
        .voted{
            clear: both;
            width: inherit;
        }
        footer{
            width: 100%;
            height: 27vh;
        }
        .footer-img{
            width: 40%;
            margin-left: 5px;
        }
        .footer-img .fas{
            font-size: 4rem;
        }
        .politico-trademark{
            display: block;
            text-align: center;
            font-size: 1.2rem;
        }

        .footer-columns{
            display: block;
            width: 50%;
        }
        .column{
            padding-bottom: 15px;
            font-size: 1.2rem;
        }
        .column:first-child{
            display: none;
        }

    }

    @media screen and (min-width: 700px) and (max-width: 1200px){

        body{
            width: 100%
        }

        .navbar a#home, .menu_bar .navbar a#home, .navbar a#menu{
            font-size: 1.9rem;
            font-weight: 700;
        }

        .menu_bar .navbar a, .navbar a, .navbar.responsive .dropdown .dropbtn, .navbar.responsive a{
            font-size: 1.7rem;
            font-weight: 700;
            padding: 15px;
        }
    
        .backgroundImage{
            height: 90vh;
        }
            .aboutPage{
                padding-top: 20vh;
                font-size: 25px;
                width: 60%;
            }
            .diplayQuote{
                padding: 0 15px;
                font-size: 25px;
            }
            
            .author{
                font-size: 25px;
                padding: 0 15px;
                margin-left: 100px;
    
            }
            a.register{
                width: 50%;
            }
            .profile{
                width: 95%;
                box-shadow: 0 #b6b2b2;
            }
            .profile >.image{
                width: 50%;
                float: left;
            }
            .profile > p{
                width: 40%;
                float: left;
                padding: 10px;
                font-size: 1.5rem
            }
            
            .profile .topic{
                display: block;
                font-weight: 900;
            }
        }

        @media screen and (max-width: 700px){
            .sidebar{
                width: 19%;
                margin: 0;
                height: 70vh;
            }
            .sidebar a{
                font-size: 1.2rem;
            }
            .mainbar{
                width: 75%;
                margin: 0;
                float: left;
            }
            .mainbar .signup{
                width: 90%;
            }
            .mainbar table td, .mainbar table th{
                font-size: 1.4em;
            }
        }
        